<div class="container">
 <form action="/answer" data-turbo="false">
  <input type="text" class= "form-input" name="question" placeholder="What do you want to ask?">
  <input type="submit" value="Ask!" class="btn-ask">
 </form>
</div>
